*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse files
.classpath
.project
.settings

# other
.config.bak.txt
config
TreeTagger
filters
res.txt
tmp

#jars
!miglayout15-swing.jar
!commons-lang3-3.3.2.jar

